<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ecstasy.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>7BDB31EC42871301C5AC2D06891C0B19454A6CCB</string>
				<key>dateExpires</key>
				<string>12/29/25</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>PHLP76WVTF.com.mildpeppercat.ecstasy</string>
				<key>com.apple.developer.team-identifier</key>
				<string>PHLP76WVTF</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>ecstasy.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>ba9276a2-5863-49fe-a35c-0daf97be1a1c</string>
				<key>dateExpires</key>
				<string>7/11/25</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.mildpeppercat.ecstasy</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>PHLP76WVTF</string>
				<key>name</key>
				<string></string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
